html {
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: #b4b4b4
}

button:active {
    transform: translateY(1px);
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #00d4ff;
}

h1:hover {
    text-shadow: 0 0 10px #00d4ff;
}


.container {
    display: grid;
    justify-content: center;
}

.square {
    height: 20px;
    width: 20px;    
    border: 2px solid black;
}

.main-buttons {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 120px;   /* Height of the footer */
    color: #d6b626;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer p {
    padding-top: 50px;
}

footer p:hover {
    text-shadow: 0 0 10px rgb(255, 196, 0);
}
#mage {
    width: 100px;
}